/* universal changers */
*{
    padding: 0;
    margin: 0;overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* page colors */
.light{
    background-color: rgb(213, 211, 211);
    color: black;
}
.dark{
    background-color: rgb(30, 30, 30);
    color: white;
}

/* list changes */
ul{
    display: flex;
    list-style: none;
}
li{
    text-decoration: none;
    margin: 1rem;
}

/* header and nav styling */
header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.headerlight{
    border-bottom: 2px solid black;
}
.headerdark{
    border-bottom: 2px solid white;
}
nav{
    display: flex;
    align-items: center;
}

/* button styles */
.btn{
    border: none;
    border-radius: 15px;
    padding: 0.25rem;
    height: 2rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}
.buttonlight{
    background-color: black;
    color: white;
    margin-right: 1rem;
}
.buttondark{
    background-color: white;
    color: black;
    margin-right: 1rem;
}

/* page title */
h1{
    color: blue;
    font-size: 3rem;
}

/* footer light */
.footerlight {
    background-color: rgb(213, 211, 211);
    color: #333;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    border-top: 2px solid black;
}

.footerlight strong {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.footerlight strong:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* footer dark */
.footerdark {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #fff;
}

.footerdark strong {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footerdark strong:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* maincontent */
.main-content {
    max-width: 800px;
    margin: 40px auto;
  }
.content-section {
    margin-bottom: 40px;
  }
  .section-list {
    list-style: none;
    padding: 0;
  }
  .section-list li {
    margin-bottom: 15px;
    font-size: 12px;
  } 

/* maincontent light*/
  .section-title-light {
    color: #333;
  }
  .section-paragraph-light {
    color: #555;
    line-height: 1.6;
  }

  /* maincontent dark*/
  .section-title-dark {
    color: #fff;
  }
  .section-paragraph-dark {
    color: #fff;
    line-height: 1.6;
  }